/********* MAIN ***********/

// Parametres Scrollbar Color
html {
    scrollbar-color: #9951b3 #fff;
}
body{
    background-color: #fadee2;
    overflow-x: hidden;
    
}
.wrapper{
    padding: 20px;
}

.pause-button{
    display: none;
}

// Parametres Swipper
.container-swiper-banner{
    .ligne{
        border: 1px solid #9951b3;
        margin-bottom: 20px;
    }
    h1{
        margin: 0;
        padding: 10px 0;
    }
    .container-swiper {
        .swiper-wrapper{
            .swiper-slide{
                width: 300px;
                .container-swiper-txt{
                    margin-bottom: 10px;
                    margin-top: 10px;
                    .upperc{
                        padding-bottom: 5px;
                        font-size: 10px;
                        color: #000;
                        text-transform: uppercase;
                    }
                    h2{
                        color: #9951b3;
                        padding-bottom: 2px;
                    }
                    .apple{
                        font-size: 10px;
                    }
                }
                img{
                    width: 100%;
                    height: 170px;
                    border-radius: 8px;
                    transition: 0.3s all ease-in-out;
                }
                &:hover{
                    filter: grayscale(0.5);
                    transition: 0.3s all ease-in-out;
                }
            }
        }
    }
}

.container-swiper-album{
    margin: 25px 0;
    .container-swiper {
        width: 100%;
        .swiper-wrapper{
            width: 140px;
            .swiper-slide{
                width: 140px;
                .container-swiper-img{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    position: relative;
                    width: 140px;
                    img{
                        width: 140px;
                        height: 140px;
                        border-radius: 8px;
                        transition: 0.3s all ease-in-out;
                    }
                    .container-svg-play{
                        display: none;
                    }
                }
                .container-swiper-txt{
                    margin-bottom: 10px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                &:hover{
                    .container-swiper-img{
                        img{
                            filter: grayscale(0.7);
                            transition: 0.3s all ease-in-out;
                        }
                        .container-svg-play{
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            border-radius: 25px;
                            background: rgba(92,86,86,0.938813025210084);
                            bottom: 10px;
                            left: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:hover{
                                background-color: #ffc0cb;
                            }
                        }
                    }
                }
                
            }
        }
    }
}

.link-artiste{
    text-decoration: none;
    color: #000;
}

.container-best{
    margin-bottom: 50px;
    width: 100%;
    .container-colomuns{
        display: flex;
        width: 100%;
    }
    .container-best-box{
        width: 260px;
        margin-right: 25px;
        .container-best-element{
            .ligne{
                border: 1px solid #ce0a0e;
                width: 100%;
            }
            .container-best-content{
                display: flex;
                align-items: center;
                margin-top: 5px;
                margin-bottom: 5px;
                .container-best-txt{
                    width: 170px;
                    overflow: hidden;
                }
                .container-best-img{
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                    .container-svg-play{
                        display: none;
                    }
                }
            }
            &:hover{
                .container-best-img{
                    .container-svg-play{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        background: rgba(92,86,86,0.5);
                        left: 0;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .container-best-txt{
                    p{
                        text-decoration: underline;
                    }
                }
                
            }
        }
    }
    .swiper-slide{
        width: 260px;
    }
}


.container-Explore{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 25px;
    margin-top: 15px;
    h2{
        font-size: 25px;
        margin: 5px 0 0 5px;
    }
    div{
        background-color: #9951b3;;
        border-radius: 10px;
        padding: 20px;
    }
}

.album{
    .conteneur-livre {
        width: 400px;
        position: relative;
        margin: 40px auto;
        display: flex;
        perspective: 1200px;
    }
    
    .livre {
        box-shadow: 0 5px 8px hsla(0, 0%, 0%, .5);
        transform: translateX(35px) rotateY(30deg);
        transform-style: preserve-3d;
        transform-origin: 125px 0;
    
        &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 3px;
        width: 5px;
        box-shadow: inset 0 5px 4px hsla(0, 0%, 0%, .5);
        z-index: 2;
        }
    }

    .couverture {
        position: relative;
        z-index: 1;

        img {
        outline: 1px solid transparent;
        width: 100%;
        display:block;
        }
    }
    
    .tranche {
        position: absolute;
        bottom: 0;
        top: 0;
        width: 50px;
        box-shadow: 0 5px 8px hsla(0, 0%, 0%, .5);
        transform: rotateY(-90deg) translateX(-49px);
        transform-origin: 0 0;
        font-family: sans-serif;
    
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: #66a;
        }
    
        .titre {
            display: block;
            width: 400px;
            text-align: left;
            color: #fff;
            text-transform: uppercase;
            text-shadow: 0 0 5px #000;
            font-size: 1.05rem;
            opacity: .9;
            position: absolute;
            transform-origin: 0 0;
            bottom: 0px;
            left: 15px;
            text-indent: 13px;
            transform: rotateZ(-90deg);
        }
    }
}