footer{
    background-color: #2c2c2c;
}
.container-footer{
    width: 100%;
    display: flex;
    flex-direction: column;

    .top-footer{
        display: flex;
        margin-bottom: 30px;
        p{
            margin: 0 15px 0 15px;
        }
    }
    .middle-footer{
        display: flex;
        margin-bottom: 20px;
    }
    .Bottom-footer{
        display: flex;
        flex-wrap: wrap;
        p{
            margin: 0 15px 0 15px;
        }
    }
}