

.navbar_header{
    padding: 40px 0;
    width: 1750px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
   
    
    a{
        margin: 0 10px;
    }
    
    
    
    img{
        width:250px;
        margin-bottom: 40px;

    }
}