header{
    text-align: center; 
}

.searchbar_blackbckgrd{
    background-color: #000;
    width: 100vw;
    padding: 20px 0;
    @media screen and (min-width:501px){
        padding: 40px 0;
    }
    .searchbar{
        text-align: center;
        position: relative;
        form{
            display: inline-block;
            position: relative;
            @media screen and (min-width:501px){
                position: absolute;
                left: 0;
            }
            input{
                width: 425px;
                border-radius: 5px;
                padding: 5px 10px;
                border: none;
                @media screen and (min-width:501px){
                    width: 300px;
                    position: absolute;
                    top: -15px;
                    left: 50px;
                }
            }
            button{
                position: absolute;
                right: 10px;
                top: 2px;
                border:none;
                background-color: #fff;
                font-size: 20px;
                @media screen and (min-width:501px){
                    position: absolute;
                    top: -13px;
                    left: 310px;
                }
            }

        }
        
        
    }  
}
.deezer_logo{
    margin: 30px auto;
    width: 250px;
    margin-bottom: 40px;
}
.navbar_header{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #000;
    @media screen and (min-width:1000px){
        position: fixed;
        top: 5px;
        right: 0;
        bottom: auto;
        left: auto;
        width: 50%;  
    }
    
    .navcenter{
        display: flex;
        justify-content: space-evenly;
    }
    a{
        color: #fff;
        padding: 25px;
        margin: 0 auto;
    }
    .a_nav{
        display: flex;
        a{
          @media screen and (min-width:501px){
            display: flex; 
            div{
                margin-right: 10px;
            }
        }  
        }
        i{
            margin-bottom: 5px;   
        }
    }
}
.buttonszone{
    background-color: pink;
    padding: 20px 0;
    button{
        padding: 3px 25px;
        background-color: #9951b3;
        border-radius: 5px;
        margin-right: 5px;
        border: 2px solid #9951b3;
        color: #fff; 
    }
}